html * {
  margin: 0;
  padding: 0;
}
body {
  background: #eee;
  color: #222;
  font-family: Menlo, monospace;
  font-size: 14px;
  padding: 1em 2em;
}
button#go {
  position: fixed;
  top: 1em;
  right: 1em;
  background: #555;
  color: #fff;
  font-size: 1.2em;
  padding: 0.4em 0.7em;
  border: 0;
  text-transform: lowercase;
  transition: all 0.3s ease 0s;
}
body > .population {
  display: none;
}
span[contenteditable=true]:hover {
  cursor: pointer;
  background: #fff; 
}
.smaller {
  font-size: 0.7em;
}
#myFunction {
  font-family: Times;
  font-size: 2em;
  font-style: italic;
  text-align: center;
  /*background: #fff;*/
  padding: 1em 2em;
  /*max-width: 17em;*/
  margin: 0 auto;
}
#myFunction > span {
  padding: 0 0.2em;
}
.population {
  width: 21em;
  background: #fff;
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
  position: relative;
  padding-left: 9em;
  min-height: 7em;
  overflow: hidden;
}
.population > .number {
  position: absolute;
  font-size: 3em;
  font-weight: bold;
  /*background: #aaa;*/
  /*color: #fff;*/
  color: #aaa;
  border-radius: 1em;
  /*padding: 0.3em 0.6em;*/
  top: 1em;
  left: 0em;
  width: 3em;
  text-align: center;
}

.population > .chromosome {
  background: #666;
  color: #fff;
  /*display: inline;*/
  padding: 0.5em 1em;
  border-radius: 1em;
  float: left;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  overflow: hidden;
}

.population > .chromosome > span {
  width: 2em;
}

.population > .chromosome.best, button#go.blinking {
  -moz-animation: blinkbox 5s infinite; /* Firefox */
  -webkit-animation: blinkbox 1s infinite; /* Safari and Chrome */
}

pre#data {
  font-size: 0.6em;
  text-align: left;
  background: #fff;
  font-style: normal;
  width: 90%;
}

@-webkit-keyframes blinkbox {
  0% { background: #000; }
  50% { background: #666; }
  100% { background: #000; }
}

@-moz-keyframes blinkbox {
  0% { background: #000; }
  50% { background: #666; }
  100% { background: #000; }
}
.population > .chromosome > .fitness {
  display: block;
  text-align: center;
  margin-top: 0.5em;
  color: #ffe400;
}
.population > .chromosome > .requestedChairs {
  color: #aaa;
}
.population > .chromosome > .fitness, .population > .chromosome > .totalRevenue, .population > .chromosome > .requestedChairs {
  display: none;
}
.population > .chromosome.expanded > .fitness, .population > .chromosome.expanded > .totalRevenue, .population > .chromosome.expanded > .requestedChairs {
  display: block;
}